body {
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 33px;
  color: #323d4f;
}


nav {
  position: fixed;
  background-color: #344051;
  height: 60px;
  width: 100%;
  z-index: 10;

}
.logo {
  margin-top: 17px;
  font-size: 23px;
  color: white;
  
  float: left;
  /* animation: comming 5s ease forwards; */
  z-index: 5;

}
nav .menu ul {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menu li {
  margin-right: 40px;
}

nav .menu a {
  font-size: 13px;
  color: white;
}
.menu li a:visited{
  color: white;
}
.menu li a:hover {
  color: #f08d0d;
  
}
@media (max-width: 1200px) {
  nav .menu a {
    font-size: 12px;
    color: white;
  }
}
.white-btn {
  margin-top: 12px;
  color: white;
}
.white-btn:visited {
  color: white;
}
main {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;    
  background: url("../img/person.png") no-repeat 90% 100% / auto 85%, url("../img/phone.jpg") center/cover no-repeat;
  opacity: 1;
  /* animation: img 2s 5s ease forwards; */
}
.title_container {
  width: 100%;   
  color: #3c384a;
  text-align: center;
 /* animation: titleMove 1s 7.4s ease forwards; */
 opacity: 1;
}
.title_container h1 {
  font-size: 72px;
  font-weight: bold;
}

.title_container h4 {
  font-size: 22px;
  color: #79818d;
  margin-top: 40px;
}
.btn_download {
  text-align: center;
  padding-top: 10px;
  width: 157px;
  height: 34px;
  border: 1.6px solid #6f7180;
  border-radius: 6px;
  margin-bottom: 100px;
}

.title_container input {
  height: 40px;
  border: 2px solid #323d4f;
  background: none;
  border-radius: 5px;
  color: #323d4f;
  font-size: 13px;
  padding: 0 16px;
  transition: all 0.1s;
  transform: scale(1);
  margin: 58px 14px 0px 14px;
}

.title_container input:hover {
  background-color: #323d4f;
  color: white;
}
.title_container input:active {
 transform: scale(1.1);
}
@media (max-width: 991px) {
  .title_container, .title_container h4, .title_container input {
    position: relative;
    color: white;
    z-index: 3;
  }
  .main {
    position: relative;

  }
  .main::after {
    margin: 0;
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .title_container input {
    border: 2px solid white;
  }
}
.about_me h2 {
  margin-top: 100px;
  margin-bottom: 30px;
}
.about_me .photo_about_me {
  margin-top: 50px;
  margin-bottom: 20px;
}
.submit_download {
  text-align: center;
}
.iCanDo {
  background: url("../img/phoneCanIDo.jpg") no-repeat center/ cover;
}

.iCanDo_panel {
 
  display: flex;
  justify-content: space-around;
  
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}
.iCanDo h2 {
  text-align: center;
}
.iCanDo .panel {
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}
.iCanDo .panel img {
  
  width: 20%
}
.iCanDo .panel p {
  display: block;
  padding: 0 40px;
  font-family: Calibri;
  font-size: 16px;
  font-weight: 400;
  color: #38475a;
}
.iCanDo .panel h3 {
  font-family: Bahnschrift;
  font-size: 18.6px;
  font-weight: 600;
  color: #e87700;
  
}



@media (max-width: 991px) {
  .iCanDo_panel p {
    margin: 0 200px;
    
  }
  .iCanDo .panel {
    margin-bottom: 40px;
  }

}
@media (max-width: 1400px) and (min-width: 991px) {
  .iCanDo .panel p {
    padding: 0 120px;
  }
} 

