body {
    font-family: 'Roboto', sans-serif;

}

header {
    margin-top: 50px;
}
.btn {
    width: 100%;
    height: 50px;
}
h1 {
    margin-top: 50px;
    text-align: center;
}

footer {
    margin-top: 100px;
}

h2 {
    text-align: center;
}

.introduction p {
    font-weight: 700;
    font-size: 20px;
}
.distr {
    font-size: 17px;
    font-weight: 400;
    
}
.distr span {
    font-weight: 700;
}
.distr li {
   
    margin-top: 10px;
}

.table {
    display: flex;
    justify-content: space-around;
}