body {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: 'Franklin Gothic';
  font-size: 33px;
  color: #323d4f;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 500;

}


nav {
  position: fixed;
  background-color: #344051;
  height: 60px;
  width: 100%;
  z-index: 10;

}
.logo {
  margin-top: 17px;
  font-size: 23px;
  color: white;
  
  float: left;
  /* animation: comming 5s ease forwards; */
  z-index: 5;

}
nav .menu ul {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .menu li {
  margin-right: 40px;
}

nav .menu a {
  font-size: 13px;
  color: white;
}

.menu li a:visited{
  color: white;
}
nav .menu .active {
  color: #f08d0d;
}
nav .menu .active:visited {
  color: #f08d0d;
}
.menu li a:hover {
  color: #f08d0d;
  
}
@media (max-width: 1200px) {
  nav .menu a {
    font-size: 12px;
    color: white;
  }
}
.white-btn {
  margin-top: 12px;
  color: white;
}
.white-btn:visited {
  color: white;
}
main {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;    
  background: url("../img/person.png") no-repeat 90% 100% / auto 85%, url("../img/phone.jpg") center/cover no-repeat;
  opacity: 1;
  /* animation: img 2s 5s ease forwards; */
}
.title_container {
  
  width: 100%;   
  color: #3c384a;
  text-align: center;
 /* animation: titleMove 1s 7.4s ease forwards; */
 opacity: 1;
 /* padding-bottom: 300px; */
}
.title_container h1 {
  font-size: 72px;
  font-weight: bold;
}

.title_container h4 {
  font-size: 22px;
  color: #79818d;
  margin-top: 40px;
}
.btn_download {
  text-align: center;
  padding-top: 10px;
  width: 157px;
  height: 34px;
  border: 1.6px solid #6f7180;
  border-radius: 6px;
  margin-bottom: 100px;
}

.title_container input {
  height: 40px;
  border: 2px solid #323d4f;
  background: none;
  border-radius: 5px;
  color: #323d4f;
  font-size: 13px;
  padding: 0 16px;
  transition: all 0.1s;
  transform: scale(1);
  margin: 58px 14px 0px 14px;
}

.title_container input:hover {
  background-color: #323d4f;
  color: white;
}
.title_container input:active {
 transform: scale(1.1);
}
@media (max-width: 991px) {
  .title_container, .title_container h4, .title_container input {
    position: relative;
    color: white;
    z-index: 3;
  }
  .main {
    position: relative;

  }
  .main::after {
    margin: 0;
    position: absolute;
    content: "";
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .title_container input {
    border: 2px solid white;
  }
}

.about_me .photo_about_me {
  margin-top: 50px;
  margin-bottom: 20px;
}
.submit_download {
  text-align: center;
}
.iCanDo {
  background: url("../img/bad-img/phoneCanIDo-min.jpg") no-repeat center/ cover;
}
.iCanDo_active {
  background: url("../img/phoneCanIDo.jpg") no-repeat center/ cover;
}


.iCanDo_panel {
 
  display: flex;
  justify-content: space-around;
  
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.iCanDo .panel {
  align-items:center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  width: 300px;

}
.iCanDo .panel img {
  width: 60px;
  height: 55px;
}
.iCanDo .panel p {
  display: block;
  font-family: Calibri;
  font-size: 16px;
  font-weight: 400;
  color: #38475a;
  width: 250px;
}
.iCanDo .panel h3 {
  font-family: Bahnschrift;
  font-size: 18.6px;
  font-weight: 600;
  color: #e87700;
  
}

.case p {
  font-size: 16.7px;
  font-weight: 400;
  color: #38475a;
}
.case .case_text {
  margin-top: 35px;
  margin-bottom: 50px; 
}

.case .font-size {
  font-size: 20.9px;
}
.case h3 {
  font-family: 'Franklin Gothic';
  font-size: 25px;
  font-weight: 500;
  color: #2f4154;
}
.case_container {
  margin-top: 45px;
}
.case .case_btn {
  border-radius: 5px;
  width: 200px;
  max-width: 200px;
  font-family: 'Myriad Pro';
  font-size: 20.9px;
  font-weight: 400;
  height: 44px;
  background-color: #00b6af;
}
.case .case_btn:hover {
  background-color: white;
  color: #f38750;
  border-color: #f38750;
}
@media (max-width: 991px) {
  .case .project  {
    text-align: center;
    margin-top: 30px;
  }
  .case .case_btn {
    margin-top: 30px;
    width: 100px;
    margin-bottom: 30px;
  }
  .case_container {
    text-align: center;
    align-items:center;
  }
  .project {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.calculation_price h3 {
  font-size: 29px;
  margin-top: 60px;
}  
.calculation_price select {
  margin-top: 20px;

  height: 55px;
  background: #eeeeee;
  font-size: 16px;

}
.price {
  margin-top: 15px;
}


.term_сost div {
  margin-top: 30px;
  font-size: 29px;
}

.term_сost p .cost {
  font-size: 29px;
}

.statistic {
  width: 100%;
  min-height: 500px;
  background: url(../img/bad-img/phoneStatick-min.jpg) no-repeat center / cover;
  background-attachment: fixed;
}
.statistic_active {

  background: url(../img/phoneStatick.jpg) no-repeat center / cover;
  background-attachment: fixed;
}


.statick_line {
  margin-bottom: 90px;
}
.statick_block {
  margin-bottom: 30px;
}

.statick_block div {
  font-size: 38px;
  font-weight: bold;
  color: #323d4f;

}
.statick_block p {
  margin-top: 27px;
  font-size: 16px;
  color: #323d4f;
}

.my_contacts {
  width: 100%;
  min-height: 885px;
  color: white;
  text-align: center;
  background: url(../img/bad-img/MyContacts-min.jpg) no-repeat center / cover;
}
.my_contacts_active {
  background: url(../img/phoneMyContacts.jpg) no-repeat center / cover;
}

.my_contacts h2 {
  color: white; 
  
}
.my_contacts h3 {
  font-size: 20px;
  margin-bottom: 45px;
}
.my_contacts form {
  margin-right: 590px; 
  margin-left: 595px;
  display: flex;
  flex-flow: row wrap;
  opacity: 0.7;
}
.name, .email {
  width: 100%;
  height: 35px;
  margin-bottom: 16px;
  
}
.message {
  width: 100%;
  height: 95px;
  margin-bottom: 28px;
}
.email, .name, .message {
  /* padding-left: 15px; */
}
.message {
  padding-top: 10px;
}
.submit {
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  font-size: 20px;
}

.submit:hover {
  background-color: #d17700;
  border: 2px #d17700 solid
}
.socials {
  display: flex;
  justify-content: space-between;
}
footer {
  height: 90px;
  background: #354051;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-family: Arial;
  font-size: 13.3px;  
  font-weight: 400;
}
.feedback {
  min-height: 300px;
}




